# jsonwebtoken
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="1h"

# minio
MINIO_ENDPOINT=192.168.127.151:9000
MINIO_ACCESS_KEY="admin_minio"
MINIO_SECRET_KEY="admin_minio"
MINIO_BUCKET=tutorhub
AVATAR_BASE_URL=http://192.168.127.151:9000/tutorhub
